<%-include("header") -%>  
<h2>this is about page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae quos suscipit similique id consequatur temporibus
    magni explicabo, quidem quaerat illo. Debitis aspernatur tempora voluptatibus in non, maxime unde voluptates
    necessitatibus!</p>



    <%-include("footer") -%>